@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
  margin-top: 50px;
  grid-area: S;
  width: 100%;
  &__inner {
    position: relative;
    padding: 25px 20px 0;
    &:after {
      background: $color-gray-border;
      background: linear-gradient(
        to right,
        #c4c4c4 0%,
        #c4c4c4 48%,
        white 100%
      );
      width: 80vw;
      height: 1px;
      top: 0;
      left: 20px;
      position: absolute;
      content: '';
      bottom: 0;
    }
  }
  &__podcast {
    &-photo {
      display: inline-block;
      margin-bottom: 0;
      width: 100%;
      max-width: 280px;
      height: auto;
    }
    &-title {
      font-size: $typographic-base-font-size * 1.125;
      font-weight: 500;
      @include line-height(1.125);
      @include margin(0.5, 0, 0.5, 0);
      &-link {
        color: $color-base;
        &:hover,
        &:focus {
          color: $color-base;
        }
      }
    }
    &-description {
      color: $color-gray;
      @include line-height(1);
      @include margin-bottom(1);
    }
  }
  &__copyright {
    color: lighten($color-gray, 18%);
    font-size: $typographic-small-font-size;
  }
}

@include breakpoint-sm {
  .sidebar {
    margin-top: 0;
    &__inner {
      padding: 30px 20px 0;
      &:after {
        background: $color-gray-border;
        background: linear-gradient(
          to bottom,
          $color-gray-border 0%,
          $color-gray-border 48%,
          $color-white 100%
        );
        position: absolute;
        content: '';
        width: 1px;
        height: 1000px;
        top: 30px;
        left: -10px;
        bottom: 0;
      }
    }
  }
}

@include breakpoint-md {
  .sidebar {
    &__inner {
      padding: 40px;
    }
  }
}
